<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>RequestBox</h1>
        <h2>Inspect and debug webhook requests</h2>
    </header>
    {{{ body }}}
</body>
</html>